.dashboard{
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.Sidebar{
    border: 1px solid black;
    width: 20%;
    height: 100vh;
}


.database{
    border: 1px solid rgb(69, 7, 7);
    width: 50%;
}

.Suggest{
 border: 1px solid rgb(5, 14, 2);
  width: 25%;
}


